html {
  scroll-behavior: smooth;
}

* {
  font: 1em sans-serif;
}

.header {
  position: sticky;
  top: 0;
}
/* Hover for buttons and links */
flexContainer {
  display: flex;
  flex-direction: column;
}

/* !! The image container and text stop the header being sticky - so assume it is to do with the position being relative used for placeholder code. */
/* 
.imageContainer {
  position: relative;
}

.imageText {
  position: left;
} */

/* Back to top button styles */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s;
}

#back-to-top:hover {
  background-color: #555;
}

/* media query */
/* Pics to fit media query sizes.  */


/* ! Must have flexbox and use absolute positioning */