html {
  scroll-behavior: smooth;
}

* {
  font: 1em sans-serif;
}

/* Hover for buttons and links */
flexContainer {
  display: flex;
  flex-direction: column;
}

/* Back to top button styles */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s;
}

#back-to-top:hover {
  background-color: #555;
}

/* media query */
/* Pics to fit media query sizes.  */


/* ! Must have flexbox and use absolute positioning */